/* ================================================================ */
/* CONTACTS BEGIN  													*/
/* ================================================================ */

.contactIndex > p { padding-left: 20px; }

.feedbackform { 
		width: 500px;
		margin: auto;
		padding-bottom: 15px;
}

/* CONTACTS END ===================================================== */
