/* ================================================================ */
/* SOFT BEGIN  													*/
/* ================================================================ */
.soft_floatImage {
    float:left; 
	margin-right: 20px; 
	margin-bottom: 20px;
	width: 35.71%;
	height: 35.71%;
}
/* SOFT END ===================================================== */